@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
  margin: 0;
  padding: 0;
  height:100vh;
  background-image: url("computer_dogs.jpg");
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

.registrationbox {
  position: absolute;

}

.registrationbox input[value="Register"] {
  border: none;
  outline: none;
  height: 40px;
  background: green;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
}
