@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
  margin: 0;
  padding: 0;
  height:100vh;
  background-image: url("computer_dogs.jpg");
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

.loginbox {
  width: 450px;
  height: 475px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 1.0);
}

.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.loginbox p {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
}

.loginbox input{
  width: 98%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
  width: 95%;
  border: none;
  border-bottom: 1.0px solid white;
  background: transparent;
  outline: none;
  height: 37px;
  color: white;
  font-size: 15px;
}

::placeholder{
  color: gray;
}

.loginbox input[value="Login"] {
  border: none;
  outline: none;
  height: 40px;
  background: #5599ff;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
}

.loginbox input[type="button"]:hover {
  cursor: pointer;
  background: aqua;
  color: black;
}

.loginbox a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  color: gray;
  font-weight: bold;
  position: absolute;
  bottom: 35px;
  left: 30px;
}

.loginbox a:hover {
  color: red;
}

.loginbox i {
  width: 25px;
}

.eye {
  position: absolute;
  cursor: pointer;
  transform: translate(-20px, 10px);
}

#enable {
  display: none;
}
