@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #588c00, #ffc917, #ff5e20);
  font-family: sans-serif;
  height: 100vh;
}

#particles-js{
  height: 100vh;
}

.fa-google {
  color: black;
}

.regbox {
  width: 450px;
  height: 475px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8)
}

.regbox h1 {
  text-align: center;
  margin-bottom: 50px;
}

.regbox p {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  position: relative;
}

.regbox i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

.regbox input {
  border: none;
  outline: none;
  height: 40px;
  background: black;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  width: 98%;
  margin-bottom: 20px;
}

.regbox input[name="twitterbtn"] {
  background: #50abf1;
}

.regbox input[name="facebookbtn"] {
  background: #4867aa;
}

.regbox input[name="googlebtn"] {
  background: white;
  color: black;
}

.regbox input[name="emailbtn"] {
  background: #50abf1;
}

.regbox input[name="registerbtn"] {
  background: #588c00;
}

.regbox input[type="button"]:hover {
  cursor: pointer;
  background: #aeaeae;
  color: black;
}
