@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
  user-select: none;
}

body{
  background: linear-gradient(45deg, #588c00, #ffc917, #ff5e20);
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

#input-container {
  height: 100px;
  border-radius: 5px;
  position: relative;
}

#root {
  background-color: #60935b;
  width: 300px;
  height: 500px;
  border: 2px solid darkgreen;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#new-input {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

.todo{
  margin-left: 10px;
  padding: 5px;
}

.todo.completed{
  text-decoration: line-through;
  color: #cccccc;
}

#add {
  position: absolute;
  right: 0px;
  bottom: 0;
  top: 0;
  margin: 10px;
  margin-right: 25px;
  background-color: #ff921c;
  border-radius: 5px;
  box-shadow: 0px 1px #796149;
  width: 50px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

#list-container {
  background-color: #93a108a6;
  height: 320px;
  padding: 10px;
  overflow-y: scroll;
  border-top: 1px solid darkgreen;
}

.button-container {
  position: relative;
}

#uncheck {
  background-color: #ff921c;
  border-radius: 5px;
  margin: 5px;
  width: 80px;
  height: 20px;
  padding: 6px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 1px #796149;
}

#removeCompleted {
  background-color: #ff921c;
  border-radius: 5px;
  margin: 5px;
  width: 90px;
  height: 20px;
  padding: 6px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 1px #796149;
}

#title-input {
  width: 250px;
  margin-left: 24px;
  margin-top: 15px;
  padding: 6px 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

#todo-input {
  width: 180px;
  margin: 10px;
  margin-left: 25px;
  padding: 6px 10px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid darkgreen;
  background: transparent;
  outline: none;
  font-size: 15px;
}

::placeholder {
  color: #4a5d4a;
}
